@use '../../../node_modules/bootstrap/scss/bootstrap-grid.scss';
@use './partials/_variables.scss' as *;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $dc_dark;
  color: $dc_ligth;
  font-family: 'Open Sans', sans-serif;
}

img {
  max-width: 100%;
}